# Frontend
frontend/node_modules/
frontend/dist/

# Backend
backend/venv/
backend/__pycache__/
backend/*.pyc

# Environment variables
.env
*.env
!.env.sample
!.env.example

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

Backend/app/routes/model.pth